<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.y20k.escapepods">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:name=".Escapepods"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- Main activity for podcast playback on phone -->
        <activity
            android:name=".PodcastPlayerActivity"
            android:label="@string/app_name">

            <!-- react to main intents -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- react to voice searches, like "Play Security Now" -->
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- react to podcast RSS-links based on file extension -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.rss" />
                <data android:pathPattern=".*\\.xml" />
            </intent-filter>

            <!-- react to podcast RSS-links based on mimetype -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:mimeType="text/xml"/>
                <data android:mimeType="application/rss+xml"/>
                <data android:mimeType="application/atom+xml"/>
                <data android:mimeType="application/xml"/>
            </intent-filter>

            <!-- react to OPML file open requests -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:host="*"/>
                <data android:mimeType="text/xml"/>
                <data android:mimeType="text/x-opml"/>
                <data android:mimeType="application/xml"/>
                <data android:mimeType="application/octet-stream"/>
            </intent-filter>

        </activity>


        <!-- Player Service -->
        <service
            android:name=".PlayerService"
            android:exported="true"
            android:stopWithTask="false"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.y20k.escapepods.action.PLAY" />
                <action android:name="org.y20k.escapepods.action.PAUSE" />
                <action android:name="org.y20k.escapepods.action.FORWARD" />
                <action android:name="org.y20k.escapepods.action.REPLAY" />
                <action android:name="org.y20k.escapepods.action.DISMISS" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>


        <!-- handles completed downloads -->
        <receiver android:name=".helpers.DownloadHelper" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>


    </application>


</manifest>
